---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title">Publication</h1>
    <br>
    <h3>{{ page.title | escape }}</h3>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign authors = site.data.authors %}
        {% for idx in page.authors %}
          {% assign author = authors[idx] %}
          <a href="{{ author.website }}">
            {{ author.first }} {{ author.last }}
          </a>
          {% unless forloop.last %}-{% endunless %}
        {% endfor %}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <h3>Abstract</h3>
    {{ page.abstract }}
    <br><br>
    {% if page.link %}
      | <a href="{{ page.link }}" target="_blank">Link</a> |
    {% endif %}
    {% if page.bibtex %}
      Bibtex |
    {% endif %}
    {% if page.poster %}
      Poster |
    {% endif %}
    {% if page.slide %}
      Slide |
    {% endif %}
    {% if page.video %}
      Video |
    {% endif %}
    {% if page.code %}
      Code |
    {% endif %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden>XXX</a>
</article>
